<div class='list-products'>
    <table class='list-products-table'>
        <thead>
            <tr>
              <th>ID</th>
              <th>Quantidade</th>
              <th>Preço</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of _purchasesList">
            <td> {{ purchase.produto }}</td>
            <td> {{ purchase.quantidade }} </td>
            <td> {{ purchase.preco}} </td>
          </tr>
        </tbody>
    </table>
    <button class='list-products-button' routerLink='/'>Voltar</button>
</div>