.list-products {
    display: flex;
    flex-wrap: wrap;
}

.list-products-table {
    border: 2px solid #d11242;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.list-products-table tr {
    border: 1px solid #d11242;
}

.list-products-table th {
    font-weight: bold;
}

.list-products-table th, .list-products-table td {
    border: 1px solid #d11242;
    padding: 10px;
}

.list-products-button {
    background: #d11242;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 0;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (min-width: 760px) {
    .list-products {
        margin: 0 auto;
        width: 50%;
    }

    .list-products-button:hover {
        opacity: 0.8;
    }
}