.footer {
    bottom: 0;
    color: white;
    display: flex;
    height: 5px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer-color {
    height: 5px;
    width: 25%;
} 

.footer-color--violet {
    background: #6c216f;
}

.footer-color--green {
    background: #00afa0;
}

.footer-color--pink {
    background: #d11242;
}

.footer-color--orange {
    background: #f15d22;
}

@media screen and (min-width: 760px) {
    .footer {
        height: 6px;
    } 

    .footer-color {
        height: 6px;
    }
}