<div class='footer'>
  <div class='footer-color footer-color--violet'></div>
  <div class='footer-color footer-color--green'></div>
  <div class='footer-color footer-color--pink'></div>
  <div class='footer-color footer-color--orange'></div>
</div>