.buy-product {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.buy-product-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
}

.buy-product-input {
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 96%;
}

.buy-product-select {
    width: 100%;
}

.buy-product-button {
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
    width: 49%;
}

.buy-product-button--buy {
    background-color: #00afa0;
    margin-right: 2%;
}

.buy-product-button--cancel {
    background-color: #000000;
    color: #ffffff;
}

.buy-product-span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (min-width: 760px) {
    .buy-product {
        margin: 0 auto;
        width: 50%;
    }

    .buy-product-input {
        width: 100%;
    }

    .buy-product-button:hover {
        opacity: 0.8;
    }
}