<div class='buy-product'>
    <label class='buy-product-label'>Nome do produto</label>
    <select 
      id='buy-product-select' 
      class='buy-product-input buy-product-select'
     [(ngModel)]='productId'
    >
      <option *ngFor="let product of _productsList" value="{{ product.id }}">{{ product.nome }}</option>
    </select>
    <label class='buy-product-label'>Quantidade</label>
    <input 
        id='buy-product-qtd'
        class='buy-product-input'
        type='text'
        placeholder='Digite a quantidade'
        [(ngModel)]='amount'
    />
    <label class='buy-product-label'>Preço</label>
    <input 
        id='buy-product-price'
        class='buy-product-input' 
        type='text'
        placeholder='Digite o preço'
        [(ngModel)]='price'
    />
    <button class='buy-product-button buy-product-button--buy' (click)="addBuy({quantidade: amount, preco: price, data: '2326-02-18T02:08:33.312Z', produto: productId})">Comprar produto</button>
    <button class='buy-product-button buy-product-button--cancel' routerLink='/'>Voltar</button>
    <span class='buy-product-span' *ngIf="_message != ''"> {{_message}} </span>
</div>