.main {
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
}

.main a {
    text-decoration: none;
}

.main-card {
    margin-bottom: 10px;
    padding: 30px 0;
    width: 49%;
}

.main-card--add {
    background: #6c217f;
    margin-right: 2%;
}

.main-card--add img {
    padding: 9px 1px 0 0;
}

.main-card--buy {
    background-color: #00afa0;
}

.main-card--buy img {
    padding: 10px 1px 0 0;
}

.main-card--list {
    background-color: #d11242;
    width: 100%; 
}

.main-card--list img {
    padding: 10px 1px 0 0;
}

.main-card-img {
    background: #fff;
    height: 50px;
    width: 50px;
    margin: 0 auto 10px;
}

.main-card-title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

/* tablets and desktops */
@media screen and (min-width: 760px) {
    .main-card {
        min-height: 200px;
        width: 32%;
    }

    .main-card:hover {
        cursor: pointer;
        opacity: 0.85;
    }

    .main-card--buy {
        margin-right: 2%;
    }

    .main-card-img {
        margin-top: 60px;
    }

    .main-card-title {
        font-size: 13px;
        margin-top: 20px;
    }
}