<div class='main'>
  <a routerLink='/cadastrar-produto' class='main-card main-card--add'>
      <div class='main-card-img'>
          <img src='/assets/add.png' alt="Add product"/>
      </div>
      <h4 class='main-card-title'>Cadastrar Produto</h4>
  </a>

  <a routerLink='/comprar-produto' class='main-card main-card--buy'>
      <div class='main-card-img'>
          <img src='/assets/cart.png' alt="Buy product" />
      </div>
      <h4 class='main-card-title'>Comprar Produto</h4>
  </a>

  <a routerLink='/listar-produtos' class='main-card main-card--list'>
      <div class='main-card-img'>
          <img src='/assets/list.png' alt="List products" />
      </div>
      <h4 class='main-card-title'>Listar Produtos Comprados</h4>
  </a>
</div>