<div class='add-product'>
    <label class='add-product-label'>Nome do produto</label>
    <input 
        id='add-product-name'
        class='add-product-input'
        type='text' 
        placeholder='Digite o nome do produto'
        [(ngModel)]="_name"
    />
    <button class='add-product-button add-product-button--insert' (click)="addProduct({name: _name , id: 10})">Cadastrar produto</button>
    <button class='add-product-button add-product-button--cancel' routerLink='/'>Voltar</button>
    <span class='add-product-span' *ngIf="_message != ''" >{{ _message }}</span>
</div>